.mensaje{
    background-color: #ff123f;
    color: rgb(21, 188, 38);
    padding: 10px;
    border-radius: 5px;
    height: 100px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.mensaje:hover{
    background-color: rgb(21, 188, 38);
    color: #ff123f;
    font-size: 50px;
}
input:focus{
    background-color: rgb(21, 188, 38);
    color: #ff123f;
    font-size: 50px;
}