.memoria {
    border-collapse: separate;
    border-spacing: 0.4rem;
    background: transparent;
}

.memoria td {
    border: 2px solid #145DA0;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    color: transparent;
    background: transparent;
    box-sizing: border-box;
}

.memoria td:hover {
    color: gray;
}
.pista{
    width:24rem;
    border: 2px solid #145DA0;
}
.corredor {
    background: #145DA0;
    color: white;
    border: 2px solid #708292;
}